DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=loan_manage_saas
DB_USER=root
DB_PASS=
APP_URL=http://localhost/Loan-Management
MAIL_DRIVER=mail
MAIL_HOST=smtp.hostinger.com
MAIL_PORT=465
MAIL_ENCRYPTION=ssl
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_EMAIL=no-reply@example.com
MAIL_FROM_NAME=LoanDesk
